Source: ros-lyrical-pose-cov-ops
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <jlblanco@ual.es>
Build-Depends: debhelper (>= 9.0.0), cmake, libgtest-dev <!nocheck>, ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-gmock, ros-lyrical-ament-cmake-gtest, ros-lyrical-ament-cmake-xmllint, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-cv-bridge, ros-lyrical-geometry-msgs, ros-lyrical-mrpt-libposes, ros-lyrical-mrpt-libros-bridge, ros-lyrical-nav-msgs, ros-lyrical-rclcpp, ros-lyrical-ros-environment, ros-lyrical-sensor-msgs, ros-lyrical-std-msgs, ros-lyrical-stereo-msgs, ros-lyrical-tf2, ros-lyrical-ros-workspace
Homepage: https://wiki.ros.org/pose_cov_ops
Standards-Version: 3.9.2

Package: ros-lyrical-pose-cov-ops
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-cv-bridge, ros-lyrical-geometry-msgs, ros-lyrical-mrpt-libposes, ros-lyrical-mrpt-libros-bridge, ros-lyrical-nav-msgs, ros-lyrical-rclcpp, ros-lyrical-sensor-msgs, ros-lyrical-std-msgs, ros-lyrical-stereo-msgs, ros-lyrical-tf2, ros-lyrical-ros-workspace
Description: C++ library for SE(2)/SE(3) pose composition operations with uncertainty
