Source: ros-jazzy-pose-cov-ops
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <jlblanco@ual.es>
Build-Depends: debhelper (>= 9.0.0), cmake, libgtest-dev <!nocheck>, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-gmock, ros-jazzy-ament-cmake-gtest, ros-jazzy-ament-cmake-xmllint, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-cv-bridge, ros-jazzy-geometry-msgs, ros-jazzy-mrpt-libposes, ros-jazzy-mrpt-libros-bridge, ros-jazzy-nav-msgs, ros-jazzy-rclcpp, ros-jazzy-ros-environment, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-stereo-msgs, ros-jazzy-tf2, ros-jazzy-ros-workspace
Homepage: https://wiki.ros.org/pose_cov_ops
Standards-Version: 3.9.2

Package: ros-jazzy-pose-cov-ops
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-cv-bridge, ros-jazzy-geometry-msgs, ros-jazzy-mrpt-libposes, ros-jazzy-mrpt-libros-bridge, ros-jazzy-nav-msgs, ros-jazzy-rclcpp, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-stereo-msgs, ros-jazzy-tf2, ros-jazzy-ros-workspace
Description: C++ library for SE(2)/SE(3) pose composition operations with uncertainty
